.daw_body {
  width: 100vw;
  height: 100vh;
  background-color: silver;
  padding: 1em;
  display: flex;
  flex-direction: column;
  color: black;
  overflow: hidden;
}

.button {
  width: 5vw;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
}
