.transport-button {
  padding-left: 16px;
  padding-right: 16px;
  margin: 8px;
}
.transport-container {
  background: grey;
  display: flex;
}
.transport-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.transport-margins {
  margin: 8px;
}
