.transport-button {
    display: inline-flex;
    margin: 8px;
}
.transport-container {
    background: grey;
    display: flex;
    margin-bottom: 8px;
}
.transport-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.transport-margins {
    margin: 8px;
}